<%%= simple_form_for [:admin, <%= resource_name %>], :html => { :class => 'form-horizontal' } do |f| %>
  <%- columns.each do |column| -%>
  	<%- if resource_instance.send(column.name.to_sym).respond_to? :extension_white_list %>
  	<%- if resource_instance.send(column.name.to_sym).extension_white_list.map(&:downcase).include? ["jpg", "jpeg", "png", "gif"] %>
  	<%%= f.input :<%= column.name %>, :class => 'control-label', :as => :image_preview %>
	<%- end %>
  	<%- else %>
    <%%= f.input :<%= column.name %>, :class => 'control-label' %>
	<%- end %>
  <%- end -%>
  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    <%%= link_to 'Cancel', admin_<%= plural_resource_name %>_path, :class => 'btn' %>
  </div>
<%% end %>
