<%%= simple_form_for [:admin, <%= resource_name %>], :html => { :class => 'form-horizontal' } do |f| %>
  <%- columns.each do |column| -%>
    <%%= f.input :<%= column.name %>, :class => 'control-label' %>
  <%- end -%>
  <div class="form-actions">
    <%%= f.button :submit, :class => 'btn-primary' %>
    <%%= link_to 'Cancel', <%= controller_routing_path %>_path, :class => 'btn' %>
  </div>
<%% end %>
